<% unless @green_light_recipes.empty? %>
  <h2>You have the ingredients for: </h2>
  <% @green_light_recipes.each_slice(3) do |recipe_row| %>
    <div class="row">
      <% recipe_row.each do |recipe| %>
        <div class="col-md-4">
          <div class="well thumbnail index-list">
            <h3><%= recipe["title"] %></h3>
            <img class="index-img" src="<%= recipe["image"] %>">
            <a href="/recipes/<%= recipe["id"] %>">Go To Recipe</a>
            <% unless recipe["missedIngredientCount"] == 0 %>
              <h4>Ingredients Missing: <%= recipe["missedIngredientCount"] %></h4>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<%end %>

<% unless @yellow_light_recipes.empty? %>
  <h2>You need a couple more ingredients for: </h2>
  <% @yellow_light_recipes.each_slice(3) do |recipe_row| %>
    <div class="row">
      <% recipe_row.each do |recipe| %>
        <div class="col-md-4">
          <div class="well thumbnail index-list">
            <h3><%= recipe["title"] %></h3>
            <img class="index-img" src="<%= recipe["image"] %>">
            <a href="/recipes/<%= recipe["id"] %>">Go To Recipe</a>
            <% unless recipe["missedIngredientCount"] == 0 %>
              <h3>Ingredients Missing: <%= recipe["missedIngredientCount"] %></h3>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% unless @red_light_recipes.empty? %>
  <h2>You need to go grocery shopping for: </h2>
  <% @red_light_recipes.each_slice(3) do |recipe_row| %>
    <div class="row">
      <% recipe_row.each do |recipe| %>
        <div class="col-md-4">
          <div class="well thumbnail index-list">
            <h3><%= recipe["title"] %></h3>
            <img class="index-img" src="<%= recipe["image"] %>">
            <a href="/recipes/<%= recipe["id"] %>">Go To Recipe</a>
            <% unless recipe["missedIngredientCount"] == 0 %>
              <h3>Ingredients Missing: <%= recipe["missedIngredientCount"] %></h3>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>