<!-- Recipes section starts -->
<section id="recipes" class="recipes">
  <% unless @green_light_recipes.empty? %>
    <div class="recipe-header">
      <div class="container">
        <div class="col-sm-6 f-n center-block">
          <h2>Allex Cuisine!</h2>
        </div>
      </div>
    </div>

    <% @green_light_recipes.each_slice(4) do |recipe_row| %>
      <div class="Collage">
        <% recipe_row.each do |recipe| %>
          <div class="Image_Wrapper" data-caption="
            <a href='/recipes/<%= recipe['id'] %>''><%= recipe['title'] %></a>">
              <img src="<%= recipe["image"] %>" />
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% unless @yellow_light_recipes.empty? %>
    <div class="recipe-header">
      <div class="container">
        <div class="col-sm-6 f-n center-block">
          <h2>Just a couple more ... </h2>
        </div>
      </div>
    </div>
    
    <% @yellow_light_recipes.each_slice(4) do |recipe_row| %>
      <div class="Collage">
        <% recipe_row.each do |recipe| %>
          <div class="Image_Wrapper" data-caption="
            <a href='/recipes/<%= recipe['id'] %>''><%= recipe['title'] %> <br>Missing Ingredients: <%= recipe['missedIngredients'].length %></a>">
            <a href="/recipes/<%= recipe["id"] %>">
              <img src="<%= recipe["image"] %>" />
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</section> <!-- Recipes section ends -->