<h1>Matching Recipes</h1>

<%= @missing_ingredients %><br>

<% @recipes.each do |recipe| %>
  <a href="<%= recipe["source_url"] %>"><%= recipe["title"] %></a><br>
<% end %>

<% unless @green_recipes.empty? %>
  <h3>You have the ingredients for: </h3>
  <% @green_recipes.each do |green| %>
    <a href="/recipes/<%= green.id %>"><%= green.name %></a>
    <br>
  <% end %>
<% end %>

<% unless @yellow_recipes.empty? %>
  <h3>You need a couple more ingredients for: </h3>
  <% @yellow_recipes.each do |yellow| %>
    <a href="/recipes/<%= yellow.id %>"><%= yellow.name %></a>
    <br>
  <% end %>
<% end %>

<% unless @red_recipes.empty? %>
  <h3>You need to go grocery shopping for: </h3>
  <% @red_recipes.each do |red| %>
    <a href="/recipes/<%= red.id %>"><%= red.name %></a>
    <br>
  <% end %>
<% end %>