<div class="container">
  <div class="row-show">
    <div class="col-sm-6">
      <h2><%= @recipe["title"] %></h2>
      <img class="show-img" src="<%= @recipe["image"] %>">
    </div>
    <div class="col-sm-6">
      <ul>
      <h2>Ingredient List</h2>
        <% @recipe_ingredients.each do |recipe_ingredient| %>
          <li><%= recipe_ingredient["amount"] %> <%= recipe_ingredient["unit"] %> <%= recipe_ingredient["name"] %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <h2>Directions</h2>
  <% @directions.each do |direction| %>
    <% direction["steps"].each do |step| %>
      <p><%= step["number"] %>. <%= step["step"] %></p>
    <% end %>
  <% end %>  
  <p><a href="<%= @recipe["sourceUrl"] %>">Start Cooking</a></p>
  <% if @contained_in_cook_book == true %>
    <h4>User Rating: <%= @user_cookbook.rating %> Stars</h4>
    <br>
    <%= link_to 'Remove From Cook Book', "/recipes/#{@recipe["id"]}", method: :delete %>
  <% else %>
    <%= form_tag "/recipes/#{@recipe["id"]}", method: :post do %>
      <%= text_field_tag :rating, nil, placeholder: "Rate Me (1-5)" %>
      <%= hidden_field_tag :recipe_id, @recipe["id"] %>
      <br>
      <%= submit_tag 'Add To Cook Book', class:"btn btn-default" %>
    <% end %>
  <% end %>
</div>
