<h1><%= @recipe.name %></h1>

<ul>
<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
  <li><%= recipe_ingredient.measurement %> <%= recipe_ingredient.ingredient.name %></li>
<% end %>
</ul>

<% if @user_saved_recipe %>
  <%= link_to 'Remove From Cook Book', "/cookbook", method: :patch %>
<% else %>
  <%= link_to 'Add To Cook Book', "/recipes/#{@recipe.id}", method: :patch %>
<% end %>