<h1><%= current_user.name.titleize %>'s Virtual Pantry</h1>
<ul>
<% @pantry_ingredients.each do |pantry_ingredient| %>
  <li>
  <a href="/pantry/<%= pantry_ingredient.id %>">
  <% if pantry_ingredient.amount > 1 %>
    <%= pantry_ingredient.amount %> <%= pantry_ingredient.measurement.unit.pluralize %> 
  <% else %>
    <%= pantry_ingredient.amount %> <%= pantry_ingredient.measurement.unit %> 
  <% end %>
  <%= pantry_ingredient.ingredient.name %>    
  </a>
  </li>
<% end %>
</ul>