<h3>Ingredient:  <%= @pantry_ingredient.ingredient.name %></h3>

<h4>Amount:  
<% if @pantry_ingredient.amount > 1 %>
  <%= @pantry_ingredient.amount %> <%= @pantry_ingredient.measurement.unit.pluralize %>
<% else %>
  <%= @pantry_ingredient.amount %> <%= @pantry_ingredient.measurement.unit %>
<% end %>
</h4>

<%= link_to 'Delete', "/pantry/#{@pantry_ingredient.id}", method: :delete %>
<%= link_to 'Edit', "/pantry/#{@pantry_ingredient.id}/edit" %>