<!-- Cook Book section starts -->
<section id="cookbook">
  <h2>Cookbook</h2>
  <div class="cookbook-container">
    <!-- Iterate thru cook book recipes -->
    <% @cook_book_recipes.each_slice(3) do |cook_book_recipe_row| %>
      <div class="row">
        <% cook_book_recipe_row.each do |cook_book_recipe| %>
          <div class="col-sm-4 col-md-4">
            <div class="well thumbnail user-recipes">
              <div class="user-recipes-img-content">
                <a href="/recipes/<%= cook_book_recipe.recipe.spoonacular_id %>"><img src="<%= cook_book_recipe.recipe.image %>" class="img-responsive" alt="user-recipes-thumb"></a>
              </div>
              <div class="content">
                <h4><a href="/recipes/<%= cook_book_recipe.recipe.spoonacular_id %>"><%= cook_book_recipe.recipe.name %></a></h4>
                <small class="text-muted date"><%= cook_book_recipe.created_at.strftime("Added on %B %e,%Y") %></small>
                <div><p>Rating:
                  <% cook_book_recipe.rating.times do %>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  <% end %>
                </p></div>
              </div>
            </div>
          </div>
        <% end %>
      </div> 
    <% end %>
  </div>
</section> <!-- Cook book section ends -->