<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Sous Chef - Allez Cuisine</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Bootstrap (Framework) -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">

    <!-- Full Screen Background Slides -->
    <link rel="stylesheet" href="/js/superslides/superslides.css">

    <!-- Off Canvas Navigation -->
    <link type="text/css" href="/js/pushy/pushy.css" rel="stylesheet" />

    <!-- Collage Plus -->
    <link rel="stylesheet" type="text/css" href="/js/collageplus/examples.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/js/collageplus/transitions.css" media="all" />

    <!-- Prasto Stylesheet -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- QuaggaJS -->
    <!-- <link rel="stylesheet" type="text/css" href="/js/quagga/styles.css" /> -->

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
        <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>


    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Off canvas menu starts -->
    <div class="off-canvas-menu">
      <a class="menu-btn" id="hamburger"><span></span></a>
      <nav class="pushy pushy-right main-menu">
        <a class="close-btn menu-btn"><i class="icon icon-cross"></i></a>
        <a class="brand" href="/"><%= image_tag "logo.png", class: "img-responsive" %></a>
        <ul class="list-unstyled menu-items" id="menu-items">
          <li class="pushy-link"><a href="/">Home</a></li>
          <li class="pushy-link"><a href="/recipes">Recipes</a></li>
          <li class="pushy-link"><a href="/cookbook">Cookbook</a></li>
          <li class="pushy-link"><a href="/pantry">Pantry</a></li>
          <li class="pushy-link"><a href="/pantry/new">Add Ingredient</a></li>
          <li role="seperator" class="divider"></li>
          <% if current_user %>
            <li><%= link_to 'Log Out', '/logout', method: :delete %></a></li>
          <% else %>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
          <% end %>
        </ul>

        <div class="social clearfix">
          <a href=""><i class="icon icon-facebook"></i></a>
          <a href=""><i class="icon icon-twitter"></i></a>
          <a href=""><i class="icon icon-google-plus"></i></a>
          <a href=""><i class="icon icon-instagram"></i></a>

        </div>
      </nav>
    </div> <!-- Off canvas menu ends -->

    <!-- Site Overlay -->
    <div class="site-overlay"></div>

    <!-- Main body starts -->
    <div id="container">

        <% flash.each do |name, message| %>
            <div class="alert alert-<%=name %> alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= message %>
            </div>
        <% end %>

        <%= yield %>

        <!-- Footer starts -->
        <footer>
            <div class="container">
                <p>© Copyright 2016 Sous-Chef. All Rights Reserved.</p>
            </div>
        </footer> <!-- Footer ends -->
    </div> <!-- Main body ends -->

    <!-- Javascripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Jquery library -->
    <script src="/js/vendor/jquery-1.11.2.min.js"></script>

    <!-- Bootstrap (Framework) -->
    <script src="/js/vendor/bootstrap.min.js"></script>

    <!-- Full Screen Background Slides -->
    <script src="/js/superslides/jquery.superslides.min.js"></script>

    <!-- Fullscreen Background video -->
    <script src="/js/vide/jquery.vide.js"></script>

    <!-- Off Canvas Navigation -->
    <script type="text/javascript" src="/js/pushy/pushy.js"></script>

    <!-- Smooth one page scroll -->
    <script src="/js/jquery-one-page-nav/jquery.nav.js"></script>

    <!-- Collage Plus -->
    <script src="/js/collageplus/jquery.collagePlus.js"></script>
    <script src="/js/collageplus/jquery.removeWhitespace.js"></script>
    <script src="/js/collageplus/jquery.collageCaption.js"></script>

    <!-- Prasto plugins -->
    <script src="/js/main.js"></script>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>